# Node.js
node_modules/
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*

# Next.js
.next/
out/
dist/

# Compilados e cache
*.log
*.pid
*.seed
*.pid.lock
.cache/
coverage/
.vscode/
.DS_Store

# Ambiente
.env
.env.local
.env.development.local
.env.test.local
.env.production.local

# Sistema operacional
Thumbs.db
ehthumbs.db
Desktop.ini

# Vercel
.vercel

# Editor
.idea/
*.swp
*.swo
*.tmp

# Arquivos temporários
*.bak
*.old
*.orig
# Docker
Dockerfile
docker-compose.yml
*.sh
*copy*

nao-usado/

# VSCode
.vscode/

# MacOS
.DS_Store